/* DESKTOP */
@media (min-width: 1080px) {
    /* DESKTOP */
    header{
        margin-bottom: 3rem;
    }
    .desktop-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .desktop-text h1{
        font-size: 2rem;
    }
    .first-form-gap{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .purple-section h3{
        font-size: 1.5rem;
    }
    #h3-frist{
        font-size: 2rem;
    }
    .form-texts{
        display: block;
    }
    ul li{
        font-size: 1rem;
    }

    #illustration-desktop{
        width: 45%;
        order: 1;
    }

    .text-center{
        text-align: left;
    }
    #first-input, #first-button{
        margin-top: 0;
    }
    .purple{
        gap: 5rem;
    }
    #last-button{
        margin-top: 1rem;
    }
    .footer{
        align-items: baseline;
    }
    
    /* WIDTH */
    .purple-section{
        width: 83%;
    }
    #first-input{
        width: 60%;
    }
    #first-button{
        width: 30%;
        margin-top: 2rem;
    }
    .desktop-mode{
        width: 50%;
    }
    .desktop-text{
        width: 87%;
    }
    .desktop-text2{
        width: 77%;
    }
    form{
        width: 50%;
    }
    .desktop-text3{
        width: 50%;
    }
    #last-input{
        width: 30rem;
    }
    .first-form-gap{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items:end;
    }
}